body {
	margin:0;
	padding:0;
  background-color:#ffeb3b;
}

#device-container{
  width:360px;
  height:640px;
  margin: auto;
  box-shadow: 0px 6px 12px #555555;
}



.swiper-2{
	height:245px;
  bottom:5px;
}

.swiper-3{
	height:245px;
  bottom:16px;
}

.page-background{
  width:100%;
  height:100%;
  position:absolute;
  left:0px;
  top:0px;
  z-index: -1;
}

.stretch{
  object-fit: fill;
  overflow: hidden;
}


.clothing-label{
  font-family: Montserrat, sans-serif;
	color:black;
	margin: auto;
	text-align: center;
	padding-top: 10px;
}

#map {
	position:relative;
	width:100%;
	height:inherit;
}

#info-wrapper{
	padding-left: 16px;
	padding-right: 16px;
}

.slide-outcome{
	color:black;
	font-size: 10px;
}

#comfort-status{
  font-family: Montserrat, sans-serif;
  font-size: 20px;

  background-color:black;
  color:yellow;
  border:3px solid black;
}

#info-location{
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 20px;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#info-wrapper{
  margin-top: 118px;
}

#weather-details{
  margin-top: 40px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  line-height: 200%;
}


#credit-wrapper{
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}


/*
#credits{
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 240px;
}*/

.ack{
  margin-top: 10px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 10px;
}

#there-button{
  top:130px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color:yellow;
}

#thanks-button{
  top:52px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color:yellow;
}

#temp{
  margin-top: 0px;
  display: inline-block;
  width:100%;
  font-family: Montserrat, sans-serif;
  color:black;
}

#cold{
  width:50%;
  float:left;
  text-align: left;
  padding-left: 24px;
}

#hot{
  float:right;
  text-align: right;
  padding-right: 24px;
}

#result-parent {
  display: table;
  margin-top:70px;
  height: 200px;
  height: 170px;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
}

#feedback-wrapper{
  font-family: Montserrat, sans-serif;
  text-align: center;
}

#feedback-temp{
  margin-top:45px;
}

#result{
  font-family: Montserrat, sans-serif;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 15px;
  height:10px;
  width: 50%;
}

#finish-message{
  margin-top: 65px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
}


.results-sub{
  font-size: 15px;
  margin-top: 72px;
}


#start-parent {
  display: table;
  margin-top:170px;
  width: 100%;
  height: 200px;
}

#start-message{
  display: table-cell;
  text-align: center;
  vertical-align: middle;


  font-family: Montserrat, sans-serif;
  color:black;
  font-size: 20px;
}

#congrats{
  padding-bottom: 20px;
}




/*.wear-title{
	color:yellow;
	margin: auto;
	text-align: center;
	font-size: 20px;
	padding-top: 30px;
}*/

.clothing-slide img{
	overflow: hidden;
	display:block;
	margin: auto;
	width:50%;
	height: auto;
}

.left div{
	padding-left: 16px;
}

.page-content{
	background-color:#F5F4EA;
}


.navbar-inner{
	font-family: Montserrat, sans-serif;
	font-weight: bold;
  color:yellow;
}

.swiper-button-next, .swiper-button-prev {
    width: 70px;
    height: 20px;
}

/*override framework7 defaults*/
#clothing-container{
  padding-top: 25px !important;
}
.right .link{
  padding-left: 8px !important;
}
i {
  color:yellow !important;
}

.icon-only {
  color:yellow !important;
}
.button{
  margin:auto;
  width:50%;
  padding: 4px 0 40px;
  bottom: 18px;
  color:yellow;
}

/*prettify range*/
input[type='range'] {
  position: relative;
  top: 25px;
  left: 50%;

  border: solid 0 transparent;
  border-width: 0 1.5em;
  padding: auto;
  width: 312px;
  height: 3em;
  border-radius: .25em;
  transform: translate(-50%, -50%);
  background: transparent;
  font-size: 1em;
  cursor: pointer;
}
input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  position: relative;
  width: 21em;
  height: 0.375em;
  background: linear-gradient(90deg, #ffffff 0.125em, rgba(0, 0, 0, 0) 0.125em)-0.0625em 50%, linear-gradient(90deg, #0000e6, #0073e6, #00bfe6, #73e600, #e6e600, #e67300, #e60000);
  background-size: 3em 100%, 100% 100%;
}
input[type='range']::-moz-range-track {
  width: 21em;
  height: 0.375em;
  background: linear-gradient(90deg, #ffffff 0.125em, rgba(0, 0, 0, 0) 0.125em)-0.0625em 50%, linear-gradient(90deg, #0000e6, #0073e6, #00bfe6, #73e600, #e6e600, #e67300, #e60000);
  background-size: 3em 100%, 100% 100%;
}
input[type='range']::-ms-track {
  border: none;
  width: 21em;
  height: 0.375em;
  background: linear-gradient(90deg, #ffffff 0.125em, rgba(0, 0, 0, 0) 0.125em)-0.0625em 50%, linear-gradient(90deg, #0000e6, #0073e6, #00bfe6, #73e600, #e6e600, #e67300, #e60000);
  background-size: 3em 100%, 100% 100%;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  display: none;
}
input[type='range']::-webkit-slider-thumb {
  margin-top: -7px;
  box-sizing: border-box;
  /*border: solid 1px transparent;*/
  width: 20px;
  height: 20px;
  border-radius: 100%;
  /*transform: translateY(75%) rotate(30deg) skewY(30deg) scaleX(0.86603);*/
  background: black;
  /*background: linear-gradient(135deg, #000000 25%, rgba(0, 0, 0, 0) 25%) content-box, linear-gradient(135deg, #000000 25%, rgba(0, 0, 0, 0) 25%) border-box;*/
}
input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  border: solid 1px transparent;
  width: 3em;
  height: 3em;
  border-radius: 0;
  transform: translateY(75%) rotate(30deg) skewY(30deg) scaleX(0.86603);
  background: linear-gradient(135deg, #a7a6a2 25%, rgba(0, 0, 0, 0) 25%) content-box, linear-gradient(135deg, #ffffff 25%, rgba(0, 0, 0, 0) 25%) border-box;
}
input[type='range']::-ms-thumb {
  box-sizing: border-box;
  border: solid 1px transparent;
  width: 3em;
  height: 3em;
  border-radius: 0;
  transform: translateY(75%) rotate(30deg) skewY(30deg) scaleX(0.86603);
  background: linear-gradient(135deg, #a7a6a2 25%, rgba(0, 0, 0, 0) 25%) content-box, linear-gradient(135deg, #ffffff 25%, rgba(0, 0, 0, 0) 25%) border-box;
}
input[type='range']::-webkit-slider-runnable-track:before, input[type='range']::-webkit-slider-runnable-track:after, input[type='range'] /deep/ #track:before, input[type='range'] /deep/ #track:after {
  position: absolute;
  bottom: 100%;
  color: #2c2c2b;
  font: 700 0.875em / 2 arial, sans-serif;
}

input[type='range']:focus {
  outline: none;
  box-shadow: 0 0 .25em orange;
}
